<%= stylesheet_link_tag 'user_show', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="cardx">
  <%= render 'shared/user-card', user: @user %>
</div> 
<ul class="user-details">
<div class="bio-section card">
    <h2 class="bio-heading">Bio</h2>
    <p class="bio-text"><%= @user.bio %></p>
</div>
<%# <%= link_to "Add New Post", "/users/#{@user.id}/posts/new", {:class => "see_all_post"}%>
 <%= link_to 'Create a Post ', post_new_path(@user.id), class: 'comment-btn' %>

<ul class="post-list">
  <% @user.recent_posts.each_with_index do |post, index| %>
   <%= render 'shared/post-card', post: post, user: @user,index: post.id, brief: true, comment: false, all: false %>
  <% end %>
</ul>
  <%= link_to 'See All Posts', "#{@user.id}/posts", class: 'link-btn' %>
</ul>